main{
    width: 35%;
}
#container-inp-file input[type="file"]{
    appearance: none;
    display: none;
    visibility: hidden;
    opacity: 0;
}

#container-inp-file{
    /*background-color: #2F80ED;*/
    color: #2F80ED;
    border-color: #2F80ED;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    position: relative;
}

#container-inp-file-drag input[type="file"]{
    appearance: none;
    display: none;
    visibility: hidden;
    opacity: 0;
}

#container-inp-file-drag{
    /*background-color: #2F80ED;*/
    color: #2F80ED;
    display: inline-block;
    position: relative;
    background-color: #F6F8FB;
    border-style:dashed;
    border-color: #97BEF4;
    border-width: 2px;
}

#container-inp-file:hover{
    color: #fff;
    background-color: #2F80ED;
}

#container-img{
    background-color: #F6F8FB;
    border-style:dashed;
    border-color: #97BEF4;
    border-width: 2px;
}

#preview-img{
    width: 100%;
    height: 100%;
}

#container-getlink{
    /*background-color: #2F80ED;*/
    color: #289601;
    border-color: #289601;
    border-style: solid;
    border-width: 1px;
    display: none;
    position: relative;
}
#container-getlink:hover{
    color: #fff;
    background-color: #289601;
}
#progress-bar{
    width: 0%;
}

/* #cont-progress{
    display: none !important;
}
*/
#super-cont{
    display: flex;
}
#cont-progress{
    width: 100%;
    display: none;
} 
#cont-link{
    display: none;
} 
#delete{
    position: relative;
    left: 20px;
    top: 50px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    display: none;
    flex-direction: row;
    justify-content: center;
    width: 30px;
    height: 30px;
    z-index: 100;
}
#msj-success{
    display: none;
}




@media (max-width: 1000px){
    main{
        width: 45%;
    }
}
@media (max-width: 800px){
    main{
        width: 50%;
    }
}
@media (max-width: 650px){
    main{
        width: 55%;
    }
}
@media (max-width: 590px){
    main{
        width: 60%;
    }
}
@media (max-width: 500px){
    main{
        width: 70%;
    }
}
@media (max-width: 450px){
    main{
        width: 80%;
    }
}
@media (max-width: 400px){
    main{
        width: 90%;
    }
}
@media (max-width: 350px){
    main{
        width: 95%;
    }
}
